{{#* inline "simpleItem"}}
  <div class="item icrpg-actor-item-loot {{#if isLocked}}item-clickable{{else}}item-editable{{/if}}"
       data-item-id="{{item._id}}"
       {{#if noDescription}}style="margin-top: 12px"{{/if}}>
    <div class="flex-row" style="align-items: flex-end; position: relative">

      <div style="margin-left: 4px;">
        <input type="text" data-target="name" value="{{item.name}}"
               placeholder="{{localize "ICRPG.name"}}" {{readonly isLocked}}
          {{#if showButtons}}style="width: calc(100% - 100px);"{{/if}}>

        {{#unless (or noDescription (and isLocked (not item.system.description)))}}
          <textarea data-target="system.description" autosize spellcheck="false"
                    placeholder="{{localize "Description"}}"
            {{readonly isLocked}}>{{item.system.description}}</textarea>
        {{/unless}}

      </div>
      {{#if showButtons}}
        <div class="grid-2"
             style="flex: 0; min-width: 110px; max-width: 110px; margin-left:4px; position: absolute; right: 0">
          <div class="icrpg-equipped-select {{checked item.system.equipped}}">
            <input type="checkbox" data-target="system.equipped" {{checked item.system.equipped}} {{readonly
              noDescription}}>
          </div>
          <div class="icrpg-carried-select {{checked item.system.carried}}">
            <input type="checkbox" data-target="system.carried" {{checked item.system.carried}} {{readonly
              noDescription}}>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="icrpg-sep-long"></div>
  </div>
{{/inline}}

<div class="grid-2" style="gap: 8px; margin-top: 16px">

  <div data-item-type="loot" class="item-list">
    <div class="flex-row" style="align-items: center;">
      <div class="icrpg-sheet-bar" data-item-type="loot">{{localize "ICRPG.loot"}}</div>
      <div class="grid-2 ff-header ta-center"
           style="font-size: 10px; flex: 0; min-width: 110px; max-width: 110px; margin-left: 4px; height: 18px; gap: 0">
        <div>
          <div style="height: 10px">{{localize "ICRPG.equipped"}}</div>
          <div style="color: var(--c-light-grey)">MAX <input class="icrpg-max-carry" type="number"
                                                             name="system.weight.equipped.max"
                                                             value="{{system.weight.equipped.max}}" {{readonly
              isLocked}}></div>
        </div>
        <div>
          <div style="height: 10px">{{localize "ICRPG.carried"}}</div>
          <div style="color: var(--c-light-grey)">MAX <input class="icrpg-max-carry" type="number"
                                                             name="system.weight.carried.max"
                                                             value="{{system.weight.carried.max}}" {{readonly
              isLocked}}></div>
        </div>
      </div>
    </div>
    {{#each loots as | item |}}
      {{#if (eq item.type "spell")}}
        {{~> spellItem item=item isLocked=../isLocked showButtons=true}}
      {{else}}
        {{~> simpleItem item=item isLocked=../isLocked showButtons=true}}
      {{/if}}
    {{/each}}
    {{#unless isLocked}}
      {{~> simpleItem noDescription=true showButtons=true}}
    {{/unless}}

  </div>

  <div>
    {{#if (or (not isLocked) abilities.length)}}
      <div class="icrpg-sheet-bar" data-item-type="ability">{{localize "ICRPG.abilities"}}</div>
      <div data-item-type="ability" class="item-list">
        {{#each abilities as | item |}}
          {{~> simpleItem item=item isLocked=../isLocked}}
        {{/each}}
        {{#unless isLocked}}
          {{~> simpleItem noDescription=true}}
        {{/unless}}
      </div>
    {{/if}}

    {{#if (or (not isLocked) powers.length)}}
      <div class="icrpg-sheet-bar" style="margin-top: 4px" data-item-type="power">{{localize "ICRPG.powers"}}</div>
      <div data-item-type="power" class="item-list">
        {{#each powers as | item |}}
          {{~> powerItem item=item isLocked=../isLocked}}
        {{/each}}
        {{#unless isLocked}}
          {{~> powerItem noDescription=true}}
        {{/unless}}
      </div>
    {{/if}}

    {{#if (or (not isLocked) augments.length)}}
      <div class="icrpg-sheet-bar" style="margin-top: 4px" data-item-type="augment">{{localize "ICRPG.augments"}}</div>
      <div data-item-type="augment" class="item-list">
        {{#each augments as | item |}}
          {{~> simpleItem item=item isLocked=../isLocked}}
        {{/each}}
        {{#unless isLocked}}
          {{~> simpleItem noDescription=true}}
        {{/unless}}
      </div>

    {{/if}}
  </div>
</div>


{{#* inline "powerItem"}}
  <div class="item icrpg-actor-item-loot {{#if isLocked}}item-clickable{{else}}item-editable{{/if}}"
       data-item-id="{{item._id}}"
       {{#if noDescription}}style="margin-top: 12px"{{/if}}>
    <div class="flex-row" style="align-items: flex-end; position: relative">

      <div style="margin-left: 4px;">
        <input type="text" data-target="name" value="{{item.name}}"
               placeholder="{{localize "ICRPG.name"}}" {{readonly isLocked}}>

        {{#unless (or noDescription (and isLocked (not item.system.description)))}}
          <textarea data-target="system.description" autosize spellcheck="false"
                    placeholder="{{localize "Description"}}"
            {{readonly isLocked}}>{{item.system.description}}</textarea>
        {{/unless}}
        {{#each item.system.spCosts as |entry index|}}
          <div class="power-cost" data-entry-index="{{index}}">
            <b class="clickable-action">{{localize "ICRPG.spCost"}} {{entry.cost}}:</b> {{entry.description}}
          </div>
        {{/each}}

      </div>
      {{#unless noDescription}}
        <div class="icrpg-discrete-selector-container">
          <div>
            {{#times 4}}
              {{>selector index=@index target="system.mastery" value=system.mastery}}
            {{/times}}
          </div>
        </div>
      {{/unless}}
    </div>

    <div class="icrpg-sep-long"></div>
  </div>
{{/inline}}

{{#*inline "selector"}}
  <div class="icrpg-discrete-selector" data-target='{{target}}' data-index="{{index}}" data-tooltip="{{inc index}}">
    {{#if (gt value index)}}
      <img src="systems/icrpgme/assets/ui/selector-on.webp">
    {{else}}
      <img src="systems/icrpgme/assets/ui/selector.webp">
    {{/if}}
  </div>
{{/inline}}


{{#* inline "spellItem"}}
  <div class="item icrpg-actor-item-loot {{#if isLocked}}item-clickable{{else}}item-editable{{/if}}"
       data-item-id="{{item._id}}"
       {{#if noDescription}}style="margin-top: 12px"{{/if}}>
    <div class="flex-row" style="align-items: flex-end; position: relative">

      <div style="margin-left: 4px;">
        <div class="flexrow {{#if isLocked}}clickable-action{{/if}}" style="align-items: center">
          {{#if (or item.system.spellType item.system.spellLevel)}}
            <b class="tt-u ff-content" style="font-size: 14px; flex: 0; white-space: nowrap; margin-right: 4px;">
              {{item.system.spellType}} {{romanize item.system.spellLevel}}:
            </b>
          {{/if}}
          <input type="text" data-target="name" value="{{item.name}}"
                 placeholder="{{localize "ICRPG.name"}}" {{readonly isLocked}}
            {{#if showButtons}}style="width: calc(100% - 100px);"{{/if}}>
        </div>
        {{#unless (or noDescription (and isLocked (not item.system.description)))}}
          <textarea data-target="system.description" autosize spellcheck="false"
                    placeholder="{{localize "Description"}}"
            {{readonly isLocked}}>{{item.system.description}}</textarea>
          <div class="ff-content" style="font-size: 13px; line-height: 1.2">
            {{#if item.system.target}}
              <div class="tt-u"><b>{{localize "ICRPG.spell.target"}}: {{item.system.target}}</b></div>
            {{/if}}
            {{#if item.system.duration}}
              <div class="tt-u"><b>{{localize "ICRPG.spell.duration"}}: {{item.system.duration}}</b></div>
            {{/if}}
            {{#if item.system.flavorText}}
              <div style="margin-bottom: 2px"><i>{{item.system.flavorText}}</i></div>
            {{/if}}
          </div>
        {{/unless}}

      </div>
      {{#if showButtons}}
        <div class="grid-2"
             style="flex: 0; min-width: 110px; max-width: 110px; margin-left:4px; position: absolute; right: 0">
          <div class="icrpg-equipped-select {{checked item.system.equipped}}">
            <input type="checkbox" data-target="system.equipped" {{checked item.system.equipped}} {{readonly
              noDescription}}>
          </div>
          <div class="icrpg-carried-select {{checked item.system.carried}}">
            <input type="checkbox" data-target="system.carried" {{checked item.system.carried}} {{readonly
              noDescription}}>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="icrpg-sep-long"></div>
  </div>
{{/inline}}

