<div class="tab scrollable {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
     style="height: 100%;">
  <prose-mirror name="text.content" class="journal-page-content" value="{{ document.text.content }}"
                data-document-uuid="{{ uuid }}"></prose-mirror>
</div>
