<form autocomplete="off">

  {{#*inline "headerField"}}
    <div class="icrpg-header-field">
      <span class="ff-header">{{localize label}}</span>
      <input type="text" name="{{name}}" value="{{value}}" {{readonly isLocked}}>
    </div>
  {{/inline}}

  <div class="icrpg-sheet-header">
    <div class="flex-row">
      {{> headerField name="name" value=actor.name label="Name"}}
      {{> headerField name="system.world" value=system.world label="ICRPG.world"}}
      {{> headerField name="system.lifeform" value=system.lifeform label="ICRPG.lifeform"}}
      {{> headerField name="system.type" value=system.type label="Type"}}
    </div>
    <div class="icrpg-sep-long"></div>
    <div class="flex-row" style="margin-top: 12px">
      {{> headerField name="system.story" value=system.story label="ICRPG.story"}}
    </div>
    <div class="icrpg-sep-long"></div>
  </div>

  <section class="icrpg-tab-container">
    <div class="tab" data-group="primary-tabs" data-tab="primary">
      {{> "systems/icrpgme/templates/actor/tabs/character-primary-tab.html"}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="loot-abilities">
      {{> "systems/icrpgme/templates/actor/tabs/character-loot-tab.html"}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="notes">
      {{editor system.enrichedNotes target="system.notes" button=true owner=owner editable=editable
               engine="prosemirror"}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="resources">
      {{> "systems/icrpgme/templates/actor/tabs/character-resources-tab.html"}}
    </div>
  </section>

  <nav class="icrpg-sheet-nav" data-group="primary-tabs">
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="primary">{{localize "ICRPG.tabs.character"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="loot-abilities">{{localize
      "ICRPG.tabs.lootAbilities"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="resources">{{localize "ICRPG.tabs.resources"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="notes">{{localize "ICRPG.tabs.notes"}}</a>
  </nav>
</form>
