<form autocomplete="off" class="hardsuit-sheet">
  {{#*inline "headerField"}}
    <div class="icrpg-header-field">
      <span class="ff-header">{{localize label}}</span>
      <input type="text" name="{{name}}" value="{{value}}" {{readonly isLocked}}>
    </div>
  {{/inline}}
  {{ log this }}

  <div class="icrpg-sheet-header">
    <div class="flex-row">
      {{> headerField name="name" value=actor.name label="ICRPG.hardSuit.nickname"}}
      {{> headerField name="system.quality" value=system.quality label="ICRPG.hardSuit.quality"}}
      <div class="icrpg-header-field">
        <span class="ff-header">{{localize "ICRPG.hardSuit.pilot"}}</span>
        <select name="system.pilotId" {{#if isLocked}}disabled{{/if}}>
          {{selectOptions availablePilots selected=system.pilotId nameAttr="id" labelAttr="name"}}
        </select>
      </div>
    </div>
    <div class="icrpg-sep-long"></div>
  </div>

  <div class="icrpg-actor-main">
    <div class="icrpg-actor-side" style="gap: 0">
      <div class="icrpg-img-container">
        <img alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"
             style="object-fit: cover" />
      </div>

      <div class="icrpg-actor-side-footer">
        <div>
          <div class="ff-header c-white ta-center">{{localize "ICRPG.attributesLong.defense"}}</div>
          <img class="hoverable" src="systems/icrpgme/assets/ui/defense.webp" data-group="attributes"
               data-roll="defense">
          <div class="icrpg-defense-box">
            <div>{{localize "ICRPG.loot"}}</div>
            <input class="icrpg-defense-loot " type="number"
                   name="system.attributes.defense.loot" value="{{system.attributes.defense.loot}}" placeholder="0"
                   min="-10" max="10" {{readonly isLocked}}>
            <div class="icrpg-defense-total hoverable" data-group="attributes"
                 data-roll="defense">{{system.attributes.defense.total}}</div>
          </div>
        </div>

        <div class="hard-suit-power-container">
          <div class="ff-header c-white ta-center">{{localize "ICRPG.hardSuit.power"}}</div>
          <img src="systems/icrpgme/assets/ui/dice-transparent/d100.webp" style="width: auto; height: 64px">
          <input name="system.power" value="{{system.power}}" type="number" min="0" max="100">
        </div>
      </div>

    </div>

    <section class="icrpg-tab-container">
      <div data-group="primary-tabs" data-tab="primary">
        {{> "systems/icrpgme/templates/actor/tabs/hardsuit-primary.html"}}
      </div>
      <div data-group="primary-tabs" data-tab="stats">
        {{> "systems/icrpgme/templates/actor/tabs/hardsuit-stats.html"}}
      </div>
      <div data-group="primary-tabs" data-tab="notes">
        {{editor system.enrichedNotes target="system.notes" button=true owner=owner editable=editable
                 engine="prosemirror"}}
      </div>
    </section>
  </div>


  <nav class="icrpg-sheet-nav" data-group="primary-tabs">
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="primary">{{localize "ACTOR.TypeHardsuit"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="stats">{{localize "ICRPG.tabs.stats"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="notes">{{localize "ICRPG.tabs.notes"}}</a>
  </nav>

</form>

