{{#* inline "selectableHeart"}}
  <div class="icrpg-selectable-heart" data-index="{{index}}">
    <img class="heart" src="{{healthImageChooser actor index}}">
  </div>
{{/inline}}

{{#* inline "heart"}}
  {{#if (gt system.health.hearts index)}}
    <div class="icrpg-heart">
      <img class="heart" src="{{healthImageChooser actor index}}">
    </div>
  {{/if}}
{{/inline}}


<form autocomplete="off" class="icrpg-monster-sheet">
  <div class="icrpg-monster-header">
    <input type="text" name="name" value="{{actor.name}}" {{readonly isLocked}}>
  </div>

  <section class="icrpg-tab-container">
    <div class="tab" data-group="primary-tabs" data-tab="primary">
      {{#if isLocked}}
        {{> "systems/icrpgme/templates/actor/tabs/monster-view.html"}}
      {{else}}
        {{> "systems/icrpgme/templates/actor/tabs/monster-edit.html"}}
      {{/if}}
    </div>
  </section>

  <nav class="icrpg-sheet-nav" data-group="primary-tabs" style="display: none">
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="primary">{{localize "ICRPG.tabs.character"}}</a>
  </nav>

</form>
