<form autocomplete="off" class="vehicle-sheet">
  <div class="icrpg-monster-header">
    <input type="text" name="name" value="{{actor.name}}" {{readonly isLocked}}>
  </div>
  <section class="icrpg-tab-container">
    <div class="tab" data-group="primary-tabs" data-tab="primary">
      {{#if isLocked}}
        {{> "systems/icrpgme/templates/actor/tabs/vehicle-view.hbs"}}
      {{else}}
        {{> "systems/icrpgme/templates/actor/tabs/vehicle-edit.hbs"}}
      {{/if}}
    </div>
  </section>

  <nav class="icrpg-sheet-nav" data-group="primary-tabs" style="display: none">
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="primary">{{localize "ICRPG.tabs.character"}}</a>
  </nav>
</form>
