{{!  TODO: move to separate sheets }}
{{#*inline "bonusRow"}}
  <div class="flex-row value-{{bonusValue}}">
    <input type="number" min="-10" max="10" value="{{bonusValue}}"
           name="{{name}}" {{readonly isLocked}}>
    <div>
      {{#if loc}}
        {{localize loc}}
      {{else}}
        {{localizeConcatIf "ICRPG.attributesShort." bonusKey}}
        {{localizeConcatIf "ICRPG.effortsLong." bonusKey}}
      {{/if}}
    </div>
  </div>
{{/inline}}

<form autocomplete="off" class="{{item.type}}">
  {{#if (and (eq item.type "spell") (or item.system.spellType item.system.spellLevel))}}
    <div class="spell-item-header">
      <div class="flex-row" style="align-items: center">
        <img alt="{{item.name}}" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <div>
          <input type="text" name="name" value="{{item.name}}">
          <div class="spell-info">
            {{#if item.system.spellType}}{{item.system.spellType}} {{/if}}
            {{#if item.system.spellLevel}}{{romanize item.system.spellLevel}}{{/if}}
          </div>
        </div>
        <img src="/systems/icrpgme/assets/ui/magic-red.webp" alt="">
      </div>
    </div>
    <div class="icrpg-sep-long" style="margin-top: 4px; margin-bottom: 4px"></div>
  {{else}}
    <div>
      <div class="flex-row" style="align-items: center">
        <img alt="{{item.name}}" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <input type="text" name="name" value="{{item.name}}">
      </div>
    </div>
    <div class="icrpg-sep-long" style="margin-top: 4px; margin-bottom: 4px"></div>
  {{/if}}


  <section class="icrpg-tab-container">

    <div data-group="primary-tabs" data-tab="primary">


      <!-- ===  POWER === -->
      {{#if (eq item.type "power")}}
        {{>description system=system}}
        {{#each system.spCosts as |entry index|}}
          {{>powerCostAction entry=entry index=index isLocked=../isLocked noDescription=false}}
        {{/each}}
        {{#unless isLocked}}
          {{>powerCostAction entry=entry index=-1 isLocked=../isLocked noDescription=true}}
        {{/unless}}

        <div class="icrpg-discrete-selector-container">
          <div class="ff-header">{{localize "ICRPG.mastery"}}</div>
          <div>
            {{#times 4}}
              {{>selector index=@index target="system.mastery" value=system.mastery}}
            {{/times}}
            <div class="icrpg-sep-long"></div>
          </div>
        </div>

        <!-- ===  SPELL === -->
      {{else if (eq item.type "spell")}}
        {{>description system=system}}
        {{#if isLocked}}
          {{>spellView item=item}}
        {{else}}
          {{>spellEdit item=item}}
        {{/if}}

        <!-- ===  HARD SUIT PART === -->
      {{else if (eq item.type "part")}}
        {{>description system=system}}
        <div>
          <strong>{{localize "ICRPG.hardSuit.partType"}}</strong>
          <select name="system.partType">
            {{#select system.partType}}
              <option value="core">{{localize "ICRPG.hardSuit.core"}}</option>
              <option value="leftArm">{{localize "ICRPG.hardSuit.leftArm"}}</option>
              <option value="rightArm">{{localize "ICRPG.hardSuit.rightArm"}}</option>
              <option value="legs">{{localize "ICRPG.hardSuit.legs"}}</option>
            {{/select}}
          </select>
        </div>
        <!-- ===  GENERIC === -->
      {{else}}
        {{>description system=system}}
      {{/if}}
    </div>

    <div data-group="primary-tabs" data-tab="item-bonuses">
      <div class="flex-row">
        <div class="flex-col">
          <div class="ff-header fs-18">{{localize "ICRPG.attributes"}}</div>
          {{#each system.bonuses.attributes as |bonusValue bonusKey|}}
            {{>bonusRow bonusValue=bonusValue bonusKey=bonusKey name=(concat "system.bonuses.attributes." bonusKey) isLocked=../isLocked}}
          {{/each}}
        </div>

        <div class="flex-col">
          <div class="ff-header fs-18">{{localize "ICRPG.efforts"}}</div>
          {{#each system.bonuses.efforts as |bonusValue bonusKey|}}
            {{>bonusRow bonusValue=bonusValue bonusKey=bonusKey name=(concat "system.bonuses.efforts." bonusKey) isLocked=../isLocked}}
          {{/each}}
        </div>

        <div class="flex-col">
          <div class="ff-header fs-18">{{localize "ICRPG.weight.weight"}}</div>
          {{#if (eq item.type "loot")}}
            {{>bonusRow bonusValue=system.weight name="system.weight" loc="ICRPG.weight.item" isLocked=../isLocked}}
          {{/if}}
          {{#with system.bonuses.weight as |weight| }}
            {{>bonusRow bonusValue=weight.carried name="system.bonuses.weight.carried" loc="ICRPG.weight.carriedCapacity" isLocked=../isLocked}}
            {{>bonusRow bonusValue=weight.equipped name="system.bonuses.weight.equipped" loc="ICRPG.weight.equippedCapacity" isLocked=../isLocked}}
          {{/with}}
        </div>

      </div>
    </div>

  </section>

  <nav class="icrpg-sheet-nav" data-group="primary-tabs">
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="primary">
      {{localize "ICRPG.tabs.item"}}</a>
    <a class="icrpg-sheet-bar" data-group="primary-tabs" data-tab="item-bonuses">
      {{localize "ICRPG.tabs.bonuses"}}</a>
  </nav>

</form>

{{#* inline "description"}}
  {{#if isLocked}}
    <div class="item-description">{{system.description}}</div>
  {{else}}
    <textarea name="system.description" autosize spellcheck="false"
              placeholder="{{localize "Description"}}">{{system.description}}</textarea>
  {{/if}}
{{/inline}}

{{#* inline "powerCostAction"}}
  {{#if isLocked}}
    <div class="power-cost" data-entry-index="{{index}}">
      <b>{{localize "ICRPG.spCost"}} {{entry.cost}}:</b> {{entry.description}}
    </div>
  {{else}}
    <div class="power-cost edit" data-entry-index="{{index}}">
      <b>{{localize "ICRPG.spCost"}}:</b>
      <input type="number" min="0" data-target="cost" value="{{entry.cost}}" placeholder="0">
      {{#unless noDescription}}
        <textarea placeholder="{{localize "Description"}}" spellcheck="false" autosize
                  data-target="description">{{entry.description}}</textarea>
      {{/unless}}
    </div>
  {{/if}}
{{/inline}}


{{#*inline "selector"}}
  <div class="icrpg-discrete-selector" data-target='{{target}}' data-index="{{index}}" data-tooltip="{{inc index}}">
    {{#if (gt value index)}}
      <img src="systems/icrpgme/assets/ui/selector-on.webp">
    {{else}}
      <img src="systems/icrpgme/assets/ui/selector.webp">
    {{/if}}
  </div>
{{/inline}}

{{#*inline "spellView"}}
  <div class="spell-description view">
    {{#if item.system.target}}
      <div class="tt-u"><b>{{localize "ICRPG.spell.target"}}: {{item.system.target}}</b></div>
    {{/if}}
    {{#if item.system.duration}}
      <div class="tt-u"><b>{{localize "ICRPG.spell.duration"}}: {{item.system.duration}}</b></div>
    {{/if}}
    {{#if item.system.flavorText}}
      <div><i>{{item.system.flavorText}}</i></div>
    {{/if}}
  </div>
{{/inline}}

{{#*inline "spellEdit"}}

  <div class="spell-description edit">
    <div class="flexrow tt-u">
      <b>{{localize "ICRPG.spell.target"}}:</b>
      <input type="text" name="system.target" value="{{item.system.target}}">
    </div>
    <div class="flexrow tt-u">
      <b>{{localize "ICRPG.spell.duration"}}:</b>
      <input type="text" name="system.duration" value="{{item.system.duration}}">
    </div>

    <textarea class="ff-content fs-16" placeholder="{{localize "ICRPG.spell.flavorText"}}" spellcheck="false" autosize
              name="system.flavorText">{{item.system.flavorText}}</textarea>

    <div class="flexrow">
      <b class="tt-u ff-content fs-16">{{localize "ICRPG.spell.type"}}:</b>
      <input type="text" name="system.spellType" value="{{item.system.spellType}}">
    </div>
    <div class="flexrow">
      <b class="tt-u">{{localize "ICRPG.spell.level"}}:</b>
      <input type="number" name="system.spellLevel" value="{{item.system.spellLevel}}" min="0">
    </div>
  </div>
{{/inline}}
