@import 'mixins';
@import 'typography';

.icrpg-app-timer,
.icrpg-app-target {
  background: transparent;
  box-shadow: none;

  .window-content {
    background: transparent !important;
    height: 128px;
    width: 128px;
    display: block;
    overflow: visible;
    padding: 0;
    position: relative;
  }

  .window-header {
    display: none;
  }

  .icrpg-value {
    font-family: $ff-nusaliver;
    position: absolute;
    height: auto;
    width: 80px;
    border: none;
    background: none;
    font-size: 46px;
    left: 20px;
    top: 35px;
    text-align: center;
    color: #ddd;
  }

  input.icrpg-value {
    @include transparent-input;
    &:focus {
      color: #111;
    }
    &:hover {
      color: #ddd;
    }
  }

  .close {
    @include hover;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    font-family: $ff-nusaliver;
    text-shadow: 0 0 4px grey;
  }
}

.icrpg-timer-container,
.icrpg-target-container {
  height: 128px;
  width: 128px;
  background-size: 100% 100%;
}

.icrpg-target-container {
  background-image: url('../assets/ui/dice-red/target.webp');
}

.icrpg-timer-container {
  background-image: url('../assets/ui/dice-red/d4.webp');
}

.icrpg-app-target {
  .icrpg-easy-hard-text,
  .icrpg-easy-hard-number,
  .icrpg-easy-hard-selector {
    font-family: $ff-nusaliver;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 4px grey;
    color: #111;
  }
  .icrpg-easy-hard-selector {
    & > .checked {
      color: var(--c-red);
      text-shadow: 0 0 4px #111;
    }
  }
  .icrpg-easy-hard-number {
    position: absolute;
    right: -17px;
    top: 19px;
    font-size: 29px;
  }
}

.icrpg-app-timer {
  .icrpg-timer-name {
    font-family: $ff-nusaliver;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 4px grey;
    color: #111;
  }

  textarea.icrpg-timer-name {
    @include transparent-input;
    &:focus,
    &:hover {
      color: #111;
    }
  }
}
