@import 'mixins';
@import 'typography';

.timer-target-app {
  position: absolute;
  //max-width: 50vw;
}

.timer-target-container {
  $size: 80px;
  width: auto;
  border-radius: 4px;
  color: white;
  font-family: $ff-nusaliver;
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  flex-wrap: wrap;
  top: 8px;

  &.bg-enabled {
    padding: 12px 20px 20px 20px;
    background-image: url(../assets/ui/backgrounds/bg-sheet.png);
    background-size: cover;
    outline: 4px solid #202020c2;
    top: 9px;
    border-radius: 4px;
    box-shadow: 0 0 12px var(--color-shadow-dark);
  }

  .target,
  .timer {
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: $size + 20px;
  }

  .target {
    width: $size + 20px;
  }

  .timer {
    width: $size;
  }

  img {
    position: absolute;
    border: none;
    top: 0;
    z-index: 0;
    width: auto;
    filter: blur(1px);
  }

  .target img {
    height: $size;
  }

  .timer img {
    height: $size - 5px;
  }

  input {
    @include transparent-input();
    position: relative;
  }

  input.value {
    width: $size - 10px;
    font-size: 30px;
    height: 30px;
    top: 25px;
    color: white;
    text-align: center;

    &:focus,
    &:hover {
      color: black !important;
    }

    &:read-only:focus,
    &:read-only:hover {
      color: white !important;
    }
  }

  input.name {
    bottom: -42px;
    text-align: center;
  }

  .target input.name {
    width: $size;
  }

  .target-mod {
    color: white;
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 20px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }

  nav#context-menu {
    min-width: $size;
    width: $size;
    max-width: $size;
    font-family: var(--font-body);
  }
}
