@import 'mixins';
@import 'typography';

.icrpg-app-timer,
.icrpg-app-target {
  background: transparent;
  box-shadow: none;

  .window-content {
    background: transparent !important;
    height: 128px;
    width: 128px;
    display: block;
    overflow: visible;
    padding: 0;
    position: relative;
  }

  .window-header {
    display: none;
  }

  .icrpg-value {
    font-family: $ff-nusaliver;
    position: absolute;
    height: auto;
    width: 80px;
    border: none;
    background: none;
    font-size: 46px;
    left: 20px;
    top: 35px;
    text-align: center;
    color: #ddd;
  }

  input.icrpg-value {
    @include transparent-input(false);

    &:hover {
      color: #ddd;
    }

    &:focus {
      color: #111 !important;
    }
  }

  .close {
    @include hover;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    font-family: $ff-nusaliver;
    color: rgba(17, 17, 17, 0.45);

    &:hover {
      color: rgba(17, 17, 17, 0.68);
    }
  }
}

.icrpg-app-timer,
.icrpg-app-target {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.icrpg-timer-container,
.icrpg-target-container {
  height: 128px;
  width: 128px;
  background-size: 100% 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.icrpg-target-container {
  background-image: url('../assets/ui/dice-red/target.webp');
}

.icrpg-timer-container {
  background-image: url('../assets/ui/dice-red/d4.webp');
}

.icrpg-app-target {
  .icrpg-easy-hard-text,
  .icrpg-easy-hard-number,
  .icrpg-easy-hard-selector {
    font-family: $ff-nusaliver;
    font-size: 20px;
    text-align: center;
    color: #111;
  }

  .icrpg-easy-hard-selector {
    color: rgba(17, 17, 17, 0.45);

    & > div:hover {
      color: rgba(17, 17, 17, 0.68);
    }

    & > .checked {
      color: rgba(17, 17, 17, 0.89);
    }
  }

  .icrpg-easy-hard-number {
    position: absolute;
    right: -17px;
    top: 19px;
    font-size: 29px;
  }
}

.icrpg-app-timer {
  .icrpg-timer-name {
    font-family: $ff-nusaliver;
    font-size: 20px;
    text-align: center;
    color: #111;
  }

  textarea.icrpg-timer-name {
    @include transparent-input(false);

    &:focus,
    &:hover {
      color: #111 !important;
    }
  }
}
