@import 'typography';
@import 'mixins';

textarea#chat-message,
.chat-message {
  background: url('../assets/ui/backgrounds/bg-sheet.png');
  background-size: cover;
  font-family: $ff-carlito;

  .message-sender {
    font-family: $ff-nusaliver;
  }
}

.icrpg-chat-title {
}

.icrpg-roll-result {
  @extend .ff-header;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  //border-top: 2px solid #202020;
  //border-bottom: 2px solid #202020;
  margin-top: 4px;
  //margin-bottom: 2px;

  & > * {
    padding-top: 2px;
    flex: none;
  }
}

.icrpg-chat-dice {
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;

  $dice-map: (
    2: 4,
    3: 6,
    4: 4,
    5: 10,
    6: 6,
    8: 8,
    10: 10,
    12: 12,
    20: 20,
    100: 10,
  );
  @each $i, $img in $dice-map {
    &.d#{$i} {
      background-image: url('../assets/ui/dice-transparent/d#{$img}.webp');
    }
  }

  &.d12.crit,
  &.d20.fail,
  &.d20.crit {
    color: var(--c-red);
  }
}

.icrpg-roll-total {
  font-family: $ff-flatbread;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

img.icrpg-chat-item-img {
  max-width: 25%;
  object-fit: contain;
  object-position: top;
  height: fit-content;
  float: right;
  border: none;
  outline: 1px solid #999;
}

.icrpg-chat-body {
  line-height: 1.1;
  display: table; // Weird fix
  position: relative;

  .icrpg-chat-description {
    white-space: pre-line;
  }

  .icrpg-discrete-selector-container {
    position: relative;
    justify-content: flex-end;
    margin-right: 4px;

    .icrpg-discrete-selector img {
      height: 20px;
      width: 20px;

      &:hover {
        @include no-hover;
      }
    }
  }
}

.icrpg-chat-body.power {
  .icrpg-chat-description:not(:first-child) {
    margin-top: 4px;
  }

  .icrpg-discrete-selector-container .icrpg-sep-long {
    width: 80px;
    background-size: cover;
  }
}
