@import 'typography';

#combat-tracker {
  list-style: none;
  flex-grow: 1;
  padding-left: 0;
  margin-top: 0;

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .active {
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--color-text-subtle);
    background-color: rgba(16, 16, 16, 0.26);

    .token-image {
      animation: pulse 2s infinite;
    }
  }

  .hide {
    h4 {
      text-decoration: underline;
      color: #788ea1;
      &::after {
        content: ' (H)';
      }
    }
  }

  .defeated {
    .token-image {
      filter: grayscale(1);
    }
    h4 {
      text-decoration: line-through;
      color: gray;
    }
    .hearts-container img {
      filter: grayscale(1);
    }
  }

  img.token-image {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    flex-grow: 0;
    margin-right: 4px;
    margin-left: 4px;
  }

  h4 {
    font-family: $ff-flatbread;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
  }

  li.combatant .token-name {
    min-width: 150px;
  }

  h3.encounter-title.noborder {
    margin-inline-start: 0 !important;
    margin-left: 0 !important;
  }

  .hearts-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
    position: relative;
    justify-self: flex-end;
    align-self: flex-start;

    & > div {
      position: relative;
      width: 16px;
      height: 16px;
    }

    img {
      width: 16px;
      height: 16px;
      flex: 0;
      position: absolute;
      filter: drop-shadow(1px 1px 2px var(--color-shadow-dark));
    }

    .bar-effect {
      width: 16px;
      position: absolute;
      height: 16px;
      right: -1px;
      backdrop-filter: saturate(0);
    }
  }

  .shield-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 4px;
    width: 18px;

    i {
      font-size: 18px;
      line-height: 13px;
      color: var(--color-text-primary);
    }

    div {
      position: absolute;
      line-height: 18px;
      font-weight: bold;
      width: 18px;
      text-align: center;
      color: var(--sidebar-background);
    }
  }

  .small-field,
  .resource-field,
  .hp-field {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    margin-right: 2px;

    input[type='number'],
    input[type='text'] {
      //font-family: $ff-carlito;
      color: white;
      width: 40px;
      height: 40px;
      font-size: 18px;
      text-align: center;
      border-color: #4b4b4b;
    }
  }

  .resource-bar-container {
    min-width: 100px;
    flex: 0;
    background: #00000063;
    height: 12px;
    margin-right: 6px;
    border-radius: 2px;

    .resource-bar {
      height: 12px;
      background: white;
      width: 68px;
      border-radius: 2px;
    }
  }

  .icrpg-combat-divider {
    //font-family: $ff-nusaliver;
    //text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-top: 4px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--color-text-secondary);
  }

  li.icrpg-combat-divider {
    &:not(:first-of-type) {
      margin-top: 8px !important;
    }

    padding-top: 8px !important;
    border-top: 1px solid #000000;
    box-shadow: inset -10px 15px 1px -15px #ffffff;
  }

  .collapse-toggle {
    flex-grow: 0;
    margin-right: 4px;

    i {
      filter: opacity(0.2);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .drag-handle {
    flex: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;

    i {
      filter: opacity(0.2);
      transition: 0.3s ease-in-out;
    }

    i:hover {
      cursor: grab;
      filter: opacity(1);
      transition: 0.2s ease-in-out;
    }
  }

  .resources {
    flex-basis: 100%;
  }

  li.vehicle .turn-chunks .flexrow,
  .resources .flexrow {
    margin-left: 0;
    align-items: center;
    border-left: 2px solid var(--c-red);
    padding: 2px 0;

    h4 {
      line-height: 1;
      margin-bottom: 0;
      text-align: left;
      padding-left: 8px;
      font-size: 15px;
    }

    .small-field,
    .resource-field,
    .hp-field {
      flex: 0;
    }

    .small-field input,
    .resource-field input,
    .hp-field input {
      height: 24px;
    }
  }

  li.vehicle {
    .drag-handle {
      margin-right: 40px;
    }

    .turn-chunks {
      flex-basis: 100%;

      .hearts-container {
        flex: 0;
        margin-right: 8px;
        margin-left: 8px;
        top: -2px;
      }
    }
  }

  .directory-item .icrpg-discrete-selector-container {
    flex: 0;

    div.selected,
    div.not-selected {
      height: 16px;
      width: 16px;
    }
  }
}

ol#combat-tracker li.combatant.drag-hover {
  /*box-sizing: border-box;*/
  background-color: rgba(192, 32, 37, 0.17);
}

ol#combat-tracker li.combatant.drag-hover-under {
  /*border-bottom: #ffba00 dashed;*/
  box-shadow: 0 3px 0 var(--c-red);
}

ol#combat-tracker li.combatant.drag-hover-over {
  /*border-top: #ffba00 dashed;*/
  box-shadow: 0 -3px 0 var(--c-red);
}

ol#combat-tracker li.combatant.drag-source-active {
  opacity: 0.4;
}
