.icrpg-roll-all-dialog {
  .window-content {
    background: #202020 !important;
    overflow: hidden;
  }

  .window-content > div {
    outline: 2px solid black;
    border: 2px solid rgba(128, 128, 128, 0.64);
    padding: 16px;
    background: url('../assets/ui/backgrounds/bg-sheet.png');
    background-size: cover;
  }

  .icrpg-attribute-block {
    .dice-container {
      font-size: 24px;
      height: 36px;
      width: 36px;
    }
    .dice-container img {
      height: 36px;
      width: 36px;
      left: auto;
      top: auto;
    }
  }
}
