@import 'typography';

//:root {
//  --color-text-light-highlight: #eee;
//  --color-text-light-heading: #ddd;
//  --color-border-highlight: var(--c-red);
//  --color-border-highlight-alt: var(--c-red);
//  --color-underline-header: var(--c-red);
//  --color-shadow-primary: transparent;
//  --color-shadow-highlight: transparent;
//  --color-bg-option: #ddd;
//}

//input,
//.directory .directory-header .header-search input,
//button {
//  background: #ddd;
//}

//#chat-controls .roll-type-select {
//  background: #eee;
//}

//.chat-message .table-draw .table-results .table-result img.result-image {
//  background: gainsboro;
//}

a.content-link {
  font-family: $ff-flatbread;
}

.chat-message a.content-link {
  width: 100%;
  display: flex;
  height: 32px;
  align-items: center;
  font-family: $ff-flatbread;
  padding-top: 3px;

  i {
    position: relative;
    top: -2px;
  }
}

//#navigation #scene-list .scene.view,
//#navigation #scene-list .scene.context,
//#navigation #nav-toggle,
//#controls ol.control-tools > li,
//#sidebar {
//  background: #222;
//}

//header.window-header {
//  background: #202020;
//  border-bottom: none !important;
//  border-radius: 8px 8px 0 0;
//  color: white;
//}

//.app.sidebar-popout {
//  background: rgba(34, 34, 34, 0.7);
//  border-top-left-radius: 10px;
//  border-top-right-radius: 10px;
//}

//.app .window-content {
//  background-image: url('../assets/ui/backgrounds/bg-sheet.png');
//  background-size: cover;
//}

//#hotbar .macro .macro-key {
//  position: absolute;
//  top: 0;
//  right: 0;
//  height: 15px;
//  line-height: 1;
//  padding: 0 4px;
//  font-weight: bold;
//  pointer-events: none;
//  color: black;
//  background: none;
//}

img#logo {
  content: url('../assets/ui/offline runehammer logo.jpg');
  height: auto;
  border: 2px solid #222;
}

//.prosemirror {
//  --color-control-bg: #ddd;
//  --color-hover-bg: #eee;
//}
//
//.directory .directory-item img {
//  object-fit: cover;
//  object-position: center;
//}
//
//.directory .directory-item h3,
//.directory .directory-item h4 {
//  font-family: $ff-flatbread;
//}

//#sidebar #items .item {
//  height: 32px;
//
//  h4 {
//    height: 32px;
//    line-height: 32px;
//  }
//
//  img {
//    display: none;
//  }
//}

// Journal / System guide
.journal-sheet-container {
  background: #202020;
}

.sheet.journal-entry .pages-list .page-heading .page-title {
  font-family: $ff-flatbread;
}

.sheet.journal-entry .pages-list .h2 .heading-link {
  font-family: $ff-nusaliver;
  text-transform: uppercase;
  font-size: 12px;
}

.sheet.journal-entry .pages-list .h3 .heading-link {
  font-family: $ff-nusaliver;
  text-transform: uppercase;
  font-size: 10px;
}

.sheet.journal-entry .pages-list .headings li:last-child {
  margin-bottom: 0;
}

.sheet.journal-entry .journal-entry-content {
  background-image: url('../assets/ui/backgrounds/bg-sheet.png');
  background-size: cover;
}

// Also for editor
.editor-content h1,
.journal-entry-page h1 {
  font-family: $ff-flatbread;
  background: url('../assets/ui/backgrounds/bg-bar-red.webp') no-repeat bottom;
  background-size: contain;
  border-bottom: none;
  padding-bottom: 5px;
  padding-left: 16px;
}

.journal-entry-page {
  --color-text-emphatic: #111;
  --color-text-subtle: #111;
}

.editor-content,
.journal-page-content {
  --color-text-primary: #111;
  color: #111;

  h2,
  h3 {
    text-transform: uppercase;
    border-bottom: none;
    font-family: $ff-nusaliver;
    background: url(../assets/ui/backgrounds/bg-bar-4.webp) no-repeat bottom;
    padding-bottom: 9px;
    background-size: contain;
    color: #111;
  }

  code {
    background: #313131;
    color: var(--c-red);
  }

  h3 {
    text-align: center;
  }

  h4 {
    color: var(--c-red);
    text-transform: uppercase;
    font-weight: bold;
  }

  li,
  p,
  h4 {
    font-family: $ff-carlito;
    font-size: var(--font-size-16);
    line-height: 1.1;
  }

  p {
    margin-bottom: var(--font-size-16);
  }

  li > p {
    margin: 0.35em 0;
  }

  li {
    margin-bottom: 4px;
  }

  hr {
    background: url(../assets/ui/backgrounds/bg-bar-4.webp) no-repeat bottom;
    background-size: contain;
    height: 8px;
    border: none;
  }

  hr + h3 {
    padding-bottom: 16px;
  }

  h2 > span {
    color: var(--c-red);
    font-weight: bold;
    text-transform: none;
  }

  img {
    border: none;
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  .center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .character-types {
    h2 {
      margin-bottom: 0;
    }

    h5 {
      border-bottom: none;
      font-family: $ff-nusaliver;
      font-size: 1.3em;
      background: none;
      text-align: left;
      padding-bottom: 0;
      margin-top: 12px !important;
      margin-bottom: -8px !important;

      span {
        text-transform: none;
        font-style: italic;
        font-size: 0.8em;
      }
    }

    p {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 2px;
    }
    p + h5 {
      margin-top: 1.2rem !important;
    }

    .character-types-mastery {
      overflow: auto;

      & > div {
        overflow: auto;
      }

      img {
        max-width: 230px;
        max-height: 230px;
      }

      h5 {
        color: var(--c-red);
      }
    }
  }

  .basic-loot {
    overflow: auto;

    img {
      max-width: 120px;
      margin: 8px;
    }

    h2 {
      text-align: center;

      span {
        text-transform: none;
        font-style: italic;
        color: black;
      }
    }
  }

  table {
    font-family: $ff-carlito;
    font-size: 1.1em;
    border: none;

    tr {
      border: none;
    }

    td,
    th {
      border: none;
      padding-left: 4px;
    }

    th {
      text-align: left;
      font-family: $ff-nusaliver;
      font-size: 1.2em;
    }

    tr:nth-child(even) {
      background: rgba(173, 173, 173, 0.5);
    }

    tr:nth-child(odd) {
      background: rgba(247, 247, 247, 0.5);
    }
    //tr:first-child {
    //  background: none;
    //}
  }

  .encounter-architecture {
    .header {
      background: #00000026;
      position: relative;
      padding-top: 5px;

      h3 {
        background: none;
        padding: 0 0 0 16px;
        text-align: left;
        display: inline-block;
        font-size: 32px;
        margin-bottom: 0;
      }
      p {
        display: block;
        background: url('/systems/icrpgme/assets/ui/dice-red/target.webp') no-repeat;
        background-size: contain;
        height: 64px;
        width: 64px;
        font-size: 26px;
        padding-top: 17px;
        padding-left: 9px;
        font-family: $ff-nusaliver;
        color: white;
        float: right;
        top: -34px;
        position: relative;
      }
    }
  }

  .journal-monsters-page {
    font-size: var(--font-size-16);
    h2 {
      margin-right: 0;
      margin-left: 0;
    }
    img.monster-image {
      float: right;
      max-width: 200px;
      max-height: 200px;
      mix-blend-mode: multiply;
    }
    .hp-box img {
      width: 20px;
    }
    .hp-box {
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .monster-props {
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
    }
    .monster-action + div:not(.monster-action) {
      margin-top: 8px;
    }
  }
  .table-journal {
    p {
      margin-bottom: 2px;
    }
  }
}

// Compendium
//li.compendium-folder > .compendium-folder-header {
//  font-family: $ff-flatbread;
//}

//.compendium.directory .directory-list .directory-item {
//  line-height: 28px;
//  height: 28px;
//
//  img {
//    display: none;
//  }
//}

// Scrollbar
//::-webkit-scrollbar-thumb {
//  border-radius: 3px;
//  background: #921e20;
//  border: none;
//}

// Scene nav
//#navigation {
//  .scene.nav-item {
//    .scene-name {
//      font-family: $ff-flatbread;
//    }
//  }
//}
