@import 'typography';

:root {
  --color-text-light-highlight: #eee;
  --color-text-light-heading: #ddd;
  --color-border-highlight: var(--c-red);
  --color-border-highlight-alt: var(--c-red);
  --color-underline-header: var(--c-red);
  --color-shadow-primary: transparent;
  --color-shadow-highlight: transparent;
  --color-bg-option: #ddd;
}

input,
.directory .directory-header .header-search input,
button {
  background: #ddd;
}

#chat-controls .roll-type-select {
  background: #eee;
}

#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context,
#navigation #nav-toggle,
#controls ol.control-tools > li,
#sidebar {
  background: #222;
}

header.window-header {
  background: #202020;
  border-bottom: none !important;
  border-radius: 8px 8px 0 0;
  color: white;
}

.app.sidebar-popout {
  background: rgba(34, 34, 34, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app .window-content {
  background-image: url('../assets/ui/backgrounds/bg-sheet.png');
  background-size: cover;
}

#hotbar .macro .macro-key {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  line-height: 1;
  padding: 0 4px;
  font-weight: bold;
  pointer-events: none;
  color: black;
  background: none;
}

img#logo {
  content: url('../assets/bases/offline runehammer logo.jpg');
  height: auto;
  border: 2px solid #222;
}

.prosemirror {
  --color-control-bg: #ddd;
  --color-hover-bg: #eee;
}

.directory .directory-item h3,
.directory .directory-item h4 {
  font-family: $ff-flatbread;
}

#sidebar #items .item {
  height: 32px;
  h4 {
    height: 32px;
    line-height: 32px;
  }
  img {
    display: none;
  }
}
