@mixin grid-base($n) {
  display: grid;
  grid-template-columns: repeat($n, 1fr);
  //& > div {
  //  height: fit-content;
  //}
}

@for $i from 2 to 13 {
  .grid-#{$i} {
    @include grid-base($i);
  }
}

@mixin col-base($n) {
  grid-column: span $n;
}

@for $i from 1 to 13 {
  .col-#{$i} {
    @include col-base($i);
  }
}
