/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */

:root {
  --c-light-grey: #acacac;
  --c-red: rgb(192 32 37);
  //--c-light-grey: #9d9d9d;
}

@import 'sheets';
@import 'mixins';
@import 'typography';
@import 'chat';
@import 'grid';
@import 'apps';
@import 'dialogs';
@import 'foundry-overrides';
@import 'combat';
@import 'sheets-v2';
@import 'tah';
