@mixin transparent-input($color: var(--c-red)) {
  border: none;
  background: none;
  padding: 0;
  &:focus,
  &:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  @if $color {
    &:focus:not([readonly]),
    &:focus:not([readonly]),
    &:hover:not([disabled]),
    &:hover:not([disabled]) {
      color: $color;
    }
  }

  &[readonly],
  &[disabled] {
    &:hover {
      cursor: default;
    }
  }
}

.transparent-input {
  @include transparent-input;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  & > * {
    flex: 1;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  & > * {
    flex: 1;
  }
}

.flex-row {
  @include flex-row;
}

.flex-col {
  @include flex-col;
}

@mixin hover {
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: 0.2s ease-in-out;
  }
}

@mixin no-hover {
  transition: none;
  &:hover {
    cursor: default;
    transform: none;
    transition: none;
  }
}

@mixin hover-red {
  &:hover {
    cursor: pointer;
    color: var(--c-red);
    text-shadow: none;
  }
}

.hoverable {
  @include hover;
}

.icrpg-sep-long {
  height: 4px;
  width: auto;
  background-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-long.webp');
  background-size: 100% 100%;
  margin-top: -1px;
}

.icrpg-sep-red {
  height: 12px;
  width: auto;
  background-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-red.webp');
  background-size: 100% 100%;
  margin-bottom: 8px;
  margin-top: 64px;
}

.icrpg-sep-monster-half {
  width: 50%;
  height: 10px;
  background-image: url('../assets/ui/backgrounds/bg-bar-3.webp');
  background-size: 100% 100%;
}

textarea[autosize] {
  height: 0;
  overflow: hidden;
  resize: none;
  min-height: 0;
  white-space: pre-line;
}

input[type='checkbox'][readonly] {
  &:hover {
    cursor: default !important;
  }
}

// Animations
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: translate(2px, 0px) rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: translate(2px, 0px) rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 0.3s;
}
