@mixin transparent-input {
  border: none;
  background: none;
  &:focus,
  &:hover {
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--c-red);
  }
}

.transparent-input {
  @include transparent-input;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  & > * {
    flex: 1;
  }
}

.flex-row {
  @include flex-row;
}

@mixin hover {
  &:hover {
    cursor: pointer;
  }
}

@mixin hover-red {
  &:hover {
    cursor: pointer;
    color: var(--c-red);
    text-shadow: none;
  }
}

.hoverable {
  @include hover;
}

.icrpg-sep-long {
  height: 4px;
  width: auto;
  background-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-long.webp');
  background-size: 100% 100%;
  margin-top: -1px;
}

textarea[autosize] {
  height: 0;
  overflow: hidden;
  resize: none;
  min-height: 0;
}
