@mixin transparent-input($color: var(--c-red)) {
  border: none;
  background: none;
  padding: 0;
  box-shadow: none;
  transition: none !important;

  &:focus,
  &:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  @if $color {
    &:not(:read-only, :disabled):focus,
    &:not(:read-only, :disabled):hover {
      color: $color;
    }
  }

  &[readonly],
  &[disabled] {
    &:hover {
      cursor: default;
    }
  }
}

.transparent-input {
  @include transparent-input;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  @include flex-row;
}

.flex-col {
  @include flex-col;
}

.items-center {
  align-items: center;
}

.font-bold {
  font-weight: bold;
}

.flex-1 {
  flex: 1;
}

.italic {
  font-style: italic;
}

.w-full {
  width: 100%;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

@mixin hover {
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1) !important;
    transition: 0.2s ease-in-out;
  }
}

@mixin no-hover {
  transition: none;
  &:hover {
    cursor: default;
    transform: none;
    transition: none;
  }
}

@mixin hover-red {
  &:hover {
    cursor: pointer;
    color: var(--c-red);
    text-shadow: none;
  }
}

.hoverable {
  @include hover;
}

@mixin bg-black-bar {
  background-color: var(--c-border);
  -webkit-mask-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar.webp');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar.webp');
  mask-repeat: no-repeat;
  mask-size: cover;
  color: var(--c-text-negative);

  @extend .ff-header;
  font-size: 16px;
  height: 25px;
  padding-top: 6px;
  padding-left: 6px;
  text-align: left;
}

.bg-black-bar {
  @include bg-black-bar;
}

.icrpg-sep-long {
  height: 4px;
  width: auto;
  background-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-long.webp');
  background-size: 100% 100%;
  margin-top: -1px;
}

.icrpg-sep-red {
  height: 12px;
  width: auto;
  background-image: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-red.webp');
  background-size: 100% 100%;
  margin-bottom: 8px;
  margin-top: 64px;
}

.icrpg-sep-monster-half {
  width: 50%;
  height: 10px;
  background-image: url('../assets/ui/backgrounds/bg-bar-3.webp');
  background-size: 100% 100%;
}

textarea[autosize] {
  //height: 0;
  box-sizing: content-box;
  overflow: hidden;
  resize: none;
  min-height: 0;
  white-space: pre-line;
}

input[type='checkbox'][readonly] {
  &:hover {
    cursor: default !important;
  }
}

// Animations
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: translate(2px, 0px) rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: translate(2px, 0px) rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: translate(-2px, 0px) rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 0.3s;
}

@keyframes locked-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(0px);
  }
  40%,
  80% {
    transform: translateX(16px);
  }
}

.slide-toggle-thumb.shake-animation {
  animation: locked-shake 0.5s ease-in-out;
  //background-color: var(--c-red) !important;
}

@each $s in [0, 4, 8, 12, 16, 20, 32] {
  .mt-#{$s} {
    margin-top: #{$s}px;
  }
  .mb-#{$s} {
    margin-bottom: #{$s}px;
  }
}
