@import 'mixins';
@import 'typography';

.icrpg-sheet {
  .window-content {
    background: #202020 !important;
    overflow: hidden;
  }

  #context-menu {
    max-width: 0;
    min-width: 100%;
  }

  header {
    background: #202020;
    border-bottom: none !important;
    border-radius: 8px 8px 0 0;
    color: white;
  }

  form {
    outline: 2px solid black;
    border: 2px solid rgba(128, 128, 128, 0.64);
    padding: 16px;
    background: url('../assets/ui/backgrounds/bg-sheet.png');
    background-size: cover;
  }

  .editor {
    min-height: 450px;
    max-height: 450px;
    margin-top: 16px;
    border: 4px solid #222;
    padding: 8px;
    background: #eee;
    border-radius: 3px;
  }
}

.icrpg-sheet-header {
  .icrpg-header-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-12);
    white-space: nowrap;

    input {
      height: 14px;
      box-sizing: content-box;
      padding: 0;
      @include transparent-input;
      margin-left: 8px;
      margin-right: 8px;
      @extend .ff-header;
      color: var(--c-red);
    }
  }
}

.icrpg-attribute-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dice-container {
  $size: 64px;
  width: $size;
  height: $size;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 48px;
  @extend .ff-header;
  @include hover;

  img {
    border: none;
    width: $size;
    height: $size;
    position: absolute;
    left: 0;
    top: -4px;
    z-index: 0;
  }

  span {
    z-index: 1;
    margin-top: 5px;
  }
}

.icrpg-mods-values {
  display: flex;
  flex-direction: column;
  color: var(--c-light-grey);
  @extend .ff-header;
  font-size: 10px;

  input {
    height: 10px;
    box-sizing: content-box;
    display: inline-block;
    width: 20px;
    text-align: center;
    padding: 2px 0 0;
    color: var(--c-light-grey);
    @include transparent-input;
  }

  & > div {
    & div {
      display: inline-block;
    }
  }

  .icrpg-mods-sep {
    height: 3px;
    width: auto;
    background-size: contain;
    background: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar-tiny.webp') no-repeat;
    margin-top: 1px;
  }
}

.icrpg-actor-main {
  padding-top: 16px;
  display: flex;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    justify-content: space-between;
  }
}

.icrpg-actor-side {
  $w: 240px;
  $m: 4px;
  width: $w;
  background: black;
  border-radius: 4px;

  .icrpg-hp-container,
  .icrpg-img-container {
    background: white;
    width: $w - 2 * $m;
    margin: $m;
    border-radius: 8px;
  }

  .icrpg-img-container {
    height: $w - 2 * $m;
    display: flex;

    img {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      background: gainsboro;
      border-radius: 8px;
      width: 100%;
      object-fit: scale-down;
    }
  }

  .icrpg-actor-side-footer {
    display: flex;
    position: relative;
    height: 103px;
    margin-top: 8px;

    & > div {
      flex: 1;
    }

    img {
      border: none;
      width: 64px;
      position: absolute;
      transform: translate(+15%, 0);
    }

    input[type='checkbox'] {
      z-index: 2;
      @include hover();
      width: 62px;
      height: 62px;
      position: relative;
      left: 6px;
      top: 15px;
      opacity: 0;
    }
  }

  .icrpg-defense-box {
    @extend .ff-header;
    @extend .ta-center;
    font-size: 8px;
    color: var(--c-light-grey);
    position: absolute;
    left: 15px;
    top: 45px;

    .icrpg-defense-con {
      display: inline-block;
      width: 20px;
      font-size: 11px;
      position: relative;
      left: -5px;
    }

    .icrpg-defense-loot {
      @include transparent-input;
      @extend .ff-header;
      @extend .ta-center;
      font-size: 11px;
      color: var(--c-light-grey);
      display: inline-block;
      width: 20px;
      height: 11px;
      position: relative;
      left: 2px;

      ::-ms-input-placeholder,
      ::placeholder {
        color: var(--c-light-grey);
      }
    }
  }

  .icrpg-defense-total {
    color: black;
    font-size: 32px;
  }

  input.icrpg-dying {
    position: absolute;
    left: 22px;
    bottom: 6px;
    width: 42px;
    @include transparent-input;
    @extend .ff-header;
    @extend .ta-center;
    font-size: 32px;
    height: 32px;
  }
}

.icrpg-hp-container {
  height: 64px;

  .icrpg-heart,
  .icrpg-selectable-heart {
    position: relative;
    width: 24px;
    height: 24px;

    img {
      position: absolute;
    }
  }

  .heart {
    width: 16px;
    height: 16px;
    //transform: translate(4px, 5px);
    left: 4px;
    top: 5px;
  }
  .icrpg-selectable-heart .heart {
    @include hover;
  }

  .select-circle {
    width: 24px;
    height: 24px;
  }

  img {
    border: none;
  }

  input {
    @extend .ff-header;
    @include transparent-input;
    @extend .ta-center;
    font-size: 32px;
    height: auto;
  }
}

.icrpg-discrete-selector-container {
  display: flex;
  .ff-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    height: 24px;
    padding: 0 8px;
    background-image: url('../assets/ui/backgrounds/bg-bar.webp');
    margin-right: 16px;
  }

  & > div:not(.ff-header) {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .icrpg-sep-long {
    width: calc(27px * 20);
    position: absolute;
    z-index: 0;
  }
}

input[type='number'].icrpg-max-carry {
  @include transparent-input();
  width: 20px;
  text-align: center;
  color: var(--c-light-grey);
  padding: 0;
  height: 13px;
}

.icrpg-discrete-selector {
  z-index: 1;

  img {
    @include hover;
    border: none;
    height: 24px;
    width: 24px;
  }
}

.icrpg-resource-tracker {
  background-image: url('../assets/ui/backgrounds/bg-bar.webp');
  width: fit-content;
  margin-bottom: 4px;
  font-size: 16px;
  padding-top: 2px;

  & > * {
    display: inline-block;
    width: auto !important;
    color: white;
  }
  div.ff-header,
  input.ff-header {
    height: 24px;
    padding-left: 8px;
    color: white;
    text-align: left;
    font-family: $ff-flatbread;
  }
  div.ff-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  input {
    @include transparent-input();
  }
  input[type='number'] {
    font-family: $ff-flatbread;
    color: white;
  }
  ::placeholder {
    color: var(--c-light-grey);
  }
}
.icrpg-sheet-nav {
  display: flex;
  width: calc(100% - 50px);
}

.icrpg-sheet-bar {
  background: url('/systems/icrpgme/assets/ui/backgrounds/bg-bar.webp');
  background-size: 100% 100%;
  color: white;
  @extend .ff-header;
  height: 25px;
  padding-top: 4px;
  font-size: 18px;
  padding-left: 6px;
  flex: 1;
}

.icrpg-tab-container {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  width: calc(100% + 15px);
  padding-right: 8px;

  & > div:not(.active) {
    display: none;
  }
}

.icrpg-sheet.actor .icrpg-tab-container {
  height: 468px;
}

.icrpg-sheet.item .icrpg-tab-container {
  height: 240px;
}

.icrpg-sheet-nav {
  position: absolute;
  bottom: 16px;

  & > * {
    @include hover-red;
  }

  & > .active {
    color: var(--c-red);
  }
}

.icrpg-actor-item,
.icrpg-actor-item-loot {
  margin-top: 4px;

  input {
    @include transparent-input;
    @extend .ff-content;
    font-weight: bold;
    height: 15px;
    text-transform: uppercase;
    padding: 0;
  }

  textarea {
    @include transparent-input;
    @extend .ff-content;
    padding: 0;
    line-height: 1;
  }

  ::placeholder {
    color: #929292;
  }

  .icrpg-equipped-select,
  .icrpg-carried-select {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    position: relative;
    bottom: -11px;
    @include hover();

    input[type='checkbox'] {
      @include hover();
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
      opacity: 0;
    }
  }

  .icrpg-equipped-select {
    //background-image: url('/systems/icrpgme/assets/ui/loot-equipped-circle.webp');
    background-image: url('/systems/icrpgme/assets/ui/selector.webp');
  }

  .icrpg-equipped-select.checked {
    //background-image: url('/systems/icrpgme/assets/ui/loot-equipped-circle-on.webp');
    background-image: url('/systems/icrpgme/assets/ui/selector-on.webp');
  }

  .icrpg-carried-select {
    //background-image: url('/systems/icrpgme/assets/ui/loot-carried-circle.webp');
    background-image: url('/systems/icrpgme/assets/ui/selector.webp');
  }

  .icrpg-carried-select.checked {
    //background-image: url('/systems/icrpgme/assets/ui/loot-carried-circle-on.webp');
    background-image: url('/systems/icrpgme/assets/ui/selector-on.webp');
  }
}

.item-clickable {
  [data-target='name'] {
    user-select: none; /* Likely future */
  }

  [data-target='name']:hover {
    cursor: pointer !important;
    color: var(--c-red);
  }
}

// ========= ITEM SHEET =========
.icrpg-sheet.item {
  img {
    height: 64px;
    width: 64px;
    background: gainsboro;
    object-fit: cover;
    flex: 0;
    border-radius: 2px;
    border: 3px solid;
    outline: 1px solid gainsboro;
    margin-right: 8px;
  }

  [name='name'] {
    @include transparent-input();
    @extend .ff-header;
    font-size: 24px;
    height: 24px;
  }

  [name='system.description'] {
    @include transparent-input();
    @extend .ff-content;
    padding: 0;
    line-height: 1;
    min-height: 64px;
    font-size: 16px;
  }

  [data-tab='item-bonuses'] {
    & > .flex-row {
      font-family: $ff-flatbread;
      gap: 4px;

      & > .flex-col {
        gap: 4px;
        font-size: 18px;
        height: fit-content;

        & > .flex-row {
          align-items: center;
          gap: 4px;
          font-size: 16px;
          justify-content: flex-start;

          input {
            height: 16px;
            @include transparent-input;
            padding: 0;
            flex: 0;
            width: 80px;
            text-align: center;
          }
        }
      }
    }

    .value-0 input,
    .value-0 {
      color: var(--c-light-grey) !important;
    }
  }
}

// ========= MONSTER SHEET =========

form.icrpg-monster-sheet {
  position: relative;
  padding-bottom: 0;

  .icrpg-tab-container {
    height: 510px !important;
  }

  .icrpg-monster-attributes {
    display: flex;
    flex-direction: row;
    font-family: $ff-carlito;
    font-weight: 900;
    font-style: italic;
    font-size: 16px;
    gap: 16px;

    input {
      @include transparent-input;
      height: 18px;
      padding: 0;
      font-style: italic;
    }

    input[type='number'] {
      text-align: center;
      width: 24px;
      flex: 0;
      font-weight: 900;
    }

    textarea {
      @include transparent-input();
      font-family: $ff-carlito;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }

    ::placeholder {
      color: var(--c-light-grey) !important;
    }
  }

  .icrpg-monster-attributes.edit > div {
    display: flex;
    flex-direction: column;

    .flex-row {
      align-items: center;
      text-transform: uppercase;
    }
  }

  .value-0 input,
  .value-0 {
    color: var(--c-light-grey) !important;
  }

  .icrpg-monster-attributes.view {
    gap: 0;
    text-transform: uppercase;

    span::after {
      content: ', ';
      white-space: pre;
    }

    span:last-of-type::after {
      display: none;
    }
  }

  .icrpg-monster-actions-container {
    display: flex;
    flex-direction: column;
    font-family: $ff-carlito;
    font-size: 16px;

    input {
      @include transparent-input();
      font-family: $ff-carlito;
      font-weight: bold;
      text-transform: uppercase;
    }

    textarea {
      @include transparent-input();
      font-family: $ff-carlito;
      min-height: 0;
      font-size: 16px;
      margin-top: -4px;
    }

    .monster-action.edit {
      margin-top: 4px;
    }
  }

  .icrpg-monster-description {
    font-family: $ff-carlito;
    font-style: italic;
    margin-top: 16px;
    font-size: 16px;

    textarea {
      @include transparent-input();
      font-family: $ff-carlito;
      font-style: italic;
      min-height: 0;
      font-size: 16px;
    }
  }

  .monster-image-container {
    overflow: visible;
    position: relative;
    max-height: calc(100%);

    img {
      border: 4px solid;
    }
  }
}

.icrpg-monster-header {
  $m: 8px;
  font-family: $ff-nusaliver;
  font-size: 28px;
  width: calc(100% + 2 * $m);
  background-image: url('../assets/ui/backgrounds/bg-monster-header.webp');
  background-size: 100% 100%;
  margin-left: -$m;
  padding-left: $m;
  margin-right: -$m;
  padding-right: $m;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;

  input {
    @include transparent-input();
    font-size: 32px;
    height: 32px;
    padding-top: 5px;
  }
}
