@import 'mixins';

.icrpg-actor-sheet {
  //background: whitesmoke;
  .window-content {
    background: whitesmoke;
  }
}

.icrpg-sheet-header {
  .icrpg-header-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid;

    input {
      @include transparent-input;
    }
  }
}

.icrpg-attribute-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dice-container {
  $size: 64px;
  width: $size;
  height: $size;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  @extend .ff-header;

  img {
    border: none;
    width: $size;
    height: $size;
    position: absolute;
    left: 0;
    top: -4px;
    z-index: 0;
  }

  span {
    z-index: 1;
  }
}

.icrpg-mods-values {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--c-light-grey);
  @extend .ff-header;
  font-size: var(--font-size-11);

  input {
    height: 11px;
    box-sizing: content-box;
    display: inline-block;
    width: 20px;
    text-align: center;
    padding: 2px 0 0;
    color: var(--c-light-grey);
    @include transparent-input;
  }

  & > div {
    border-top: 2px solid #282828;

    & div {
      display: inline-block;
    }
  }
}

.icrpg-actor-main {
  padding: 16px 0;
  display: flex;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    justify-content: space-between;
  }
}
