#token-action-hud-app.tah-style-foundry-vtt-dark #token-action-hud #tah-character-name {
  font-family: $ff-nusaliver;
}

#token-action-hud-app.tah-style-foundry-vtt-dark #token-action-hud .tah-button-box .tah-button-text {
  font-family: $ff-flatbread;
  color: #f4f4f4;
}
