@font-face {
  font-family: 'FlatBread';
  src: url('../fonts/FlatBread.woff2') format('woff2'), url('../fonts/FlatBread.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chalkduster';
  src: url('../fonts/Chalkduster.woff2') format('woff2'), url('../fonts/Chalkduster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nusaliver';
  src: url('../fonts/nusaliver.woff2') format('woff2'), url('../fonts/nusaliver.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Carlito';
  src: url('../fonts/Carlito-BoldItalic.woff2') format('woff2'), url('../fonts/Carlito-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Carlito';
  src: url('../fonts/Carlito-Bold.woff2') format('woff2'), url('../fonts/Carlito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Carlito';
  src: url('../fonts/Carlito-Italic.woff2') format('woff2'), url('../fonts/Carlito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Carlito';
  src: url('../fonts/Carlito.woff2') format('woff2'), url('../fonts/Carlito.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$ff-flatbread: 'FlatBread', 'Arial', sans-serif;
$ff-carlito: 'Carlito', 'Arial', sans-serif;
$ff-chalkduster: 'Chalkduster', 'Arial', sans-serif;
$ff-nusaliver: 'nusaliver', 'Arial', sans-serif;

@each $s in [11, 12, 13, 14, 16, 18, 20, 24, 28, 32, 48] {
  .fs-#{$s} {
    font-size: var(--font-size-#{$s});
    input,
    textarea {
      font-size: var(--font-size-#{$s});
    }
  }
}
.fs-8 {
  font-size: 8px;
}

.ff-header {
  font-family: $ff-flatbread;
}

.ff-content {
  font-family: $ff-carlito;
  input,
  textarea {
    font-family: $ff-carlito;
  }
}

.ff-special {
  font-family: $ff-nusaliver;
  input,
  textarea {
    font-family: $ff-nusaliver;
  }
}

.c-white {
  color: white;
}

.c-grey {
  color: var(--c-light-grey);
}

.c-red {
  color: var(--c-red);
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.tt-u {
  text-transform: uppercase;
}
