{{#unless noHeader}}
  <div class="icrpg-chat-title ff-header">
    {{#unless roll.data.name}}
      {{#if roll.data.label}}
        {{roll.data.label}}
      {{else}}
        {{localize "ICRPG.roll.roll"}}
      {{/if}}
    {{/unless}}
    {{localizeConcatIf "ICRPG.attributesLong." roll.data.name}}
    {{localizeConcatIf "ICRPG.effortsLong." roll.data.name}}
    {{localizeConcatIf "ICRPG." roll.data.name}}
  </div>
{{/unless}}

<div class="icrpg-roll-result">
  {{#if isPrivate}}
    ???
  {{else}}
    {{#each roll.terms as |term|}}
      {{#if term.faces}}
        {{#each term.results as |result|}}
          <div class="icrpg-chat-dice d{{term.faces}} {{#if (eq result.result term.faces)}}crit{{/if}} {{#if
            (eq result.result 1)}}fail{{/if}}">
            {{result.result}}
          </div>
        {{/each}}
      {{else if term.operator}}
        <div>{{term.operator}}</div>
      {{else if term.total}}
        <div>{{term.total}}</div>
      {{/if}}
    {{/each}}
    <div class="icrpg-roll-total">
      <div>>></div>
      <div>{{roll.total}}</div>
    </div>
  {{/if}}
</div>

{{#if messageData.isHardSuitRoll}}
  <div
    style="font-family: 'nusaliver', sans-serif; text-transform: uppercase; font-size: 14px; flex: 0; white-space: nowrap; color: var(--c-red); text-align: right">
    <b>{{localize "ICRPG.hardSuit.power"}}: {{actor.system.power}}</b>
  </div>
{{/if}}

