<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
  <header class="combat-tracker-header">
    {{#if user.isGM}}
      <nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
        <a class="combat-button combat-create" data-tooltip="COMBAT.Create">
          <i class="fas fa-plus"></i>
        </a>
        {{#if combatCount}}
          <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterPrevious"
            {{#if previousId}}data-document-id="{{previousId}}" {{else}}disabled{{/if}}>
            <i class="fas fa-caret-left"></i>
          </a>
          <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
          <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterNext"
            {{#if nextId}}data-document-id="{{nextId}}" {{else}}disabled{{/if}}>
            <i class="fas fa-caret-right"></i>
          </a>
        {{/if}}
        <a class="combat-button combat-control" data-tooltip="COMBAT.Delete" data-control="endCombat"
           {{#unless combatCount}}disabled{{/unless}}>
          <i class="fas fa-trash"></i>
        </a>
      </nav>
    {{/if}}

    <div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">
      {{#if user.isGM}}
        <a class="combat-button combat-control" data-tooltip="COMBAT.RollAll" data-control="rollAll"
           {{#unless turns}}disabled{{/unless}}>
          <i class="fas fa-dice-d20"></i>
        </a>
        <a class="combat-button combat-control" data-tooltip="ICRPG.tooltips.shuffle" data-control="shuffle"
           {{#unless turns}}disabled{{/unless}}>
          <i class="fas fa-random"></i>
        </a>
      {{/if}}

      {{#if combatCount}}
        {{#if combat.round}}
          <h3 class="encounter-title noborder">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
        {{else}}
          <h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
        {{/if}}
      {{else}}
        <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
      {{/if}}

      {{#if user.isGM}}
        <a class="combat-button combat-control" data-tooltip="{{labels.scope}}"
           data-control="toggleSceneLink" {{#unless hasCombat}}disabled{{/unless}}>
          <i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
        </a>
        <a class="combat-button combat-settings" data-tooltip="COMBAT.Settings" data-control="trackerSettings">
          <i class="fas fa-cog"></i>
        </a>
      {{/if}}
    </div>
  </header>

  <ol id="combat-tracker" class="directory-list">
    {{#* inline "liTurn"}}
      <li class="combatant actor directory-item flexrow {{turn.css}}" data-combatant-id="{{turn.id}}">
        <img class="token-image" data-src="{{turn.img}}" alt="{{turn.name}}" />
        <div class="token-name flexcol">
          <h4>{{turn.name}}</h4>
          <div class="hearts-container" style="{{#if hideHP}}visibility: hidden{{/if}}">
            {{log turn}}
            {{#if (and turn.owner (eq turn.type "character"))}}
              <div style="position: relative; display: flex;align-items: center; margin-right: 4px; width: 18px">
                <i class="fa-solid fa-shield" style="font-size: 18px; line-height: 13px;"></i>
                <div style="position: absolute; line-height: 18px; font-weight: bold; width: 18px; text-align: center; color: #202020">{{turn.defense}}</div>
              </div>
            {{/if}}

            {{#times turn.health.hearts}}
              <div data-heart-index="{{@index}}">
                <img src="systems/icrpgme/assets/ui/heart-red.webp">
                <div class="bar-effect"></div>
              </div>
            {{/times}}
          </div>
        </div>





        {{#if turn.showResources}}
          <div class="collapse-toggle">
            {{#if turn.collapsed}}
              <i class="fas fa-chevron-down"></i>
            {{else}}
              <i class="fas fa-chevron-up"></i>
            {{/if}}
          </div>
        {{/if}}

        {{#if user.isGM}}
          <div class="drag-handle">
            <i class="fas fa-bars"></i>
          </div>
        {{/if}}

        {{#if turn.owner}}
          <div class="hp-field">
            {{#if trackDamage}}
              <input type="text" data-target="system.health.damage" value="{{turn.health.damage}}">
            {{else}}
              <input type="text" data-target="system.health.value" value="{{turn.health.value}}">
            {{/if}}
          </div>
        {{/if}}

        {{#if showResources}}
          <div class="resources collapsable" {{#if turn.collapsed}}style="display: none"{{/if}}>
            {{#if turn.showMastery}}
              <div class="flexrow" data-target="system.mastery">
                <h4>{{localize "ICRPG.mastery"}}</h4>
                <div class="resource-bar-container">
                  <div class="resource-bar"></div>
                </div>
                <div class="resource-field">
                  <input type="number" value="{{turn.mastery}}" min="0" max="20">
                </div>
              </div>
            {{/if}}

            {{#if turn.showSp}}
              <div class="flexrow" data-target="system.sp">
                <h4>{{localize "ICRPG.sp"}}</h4>
                <div class="resource-bar-container">
                  <div class="resource-bar"></div>
                </div>
                <div class="resource-field">
                  <input type="number" value="{{turn.sp.value}}" min="0" max="{{turn.sp.max}}">
                </div>
              </div>
            {{/if}}

            {{#each turn.resources as |resource index|}}
              <div class="flexrow" data-resource-index="{{index}}" data-target="system.resources.{{index}}">
                <h4>{{resource.name}}</h4>
                <div class="resource-bar-container">
                  <div class="resource-bar"></div>
                </div>
                <div class="resource-field">
                  <input type="number" value="{{resource.value}}" min="0" max="{{resource.max}}">
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}

      </li>
    {{/inline}}

    {{#if playerTurns.length}}
      <li class="icrpg-combat-divider">{{localize "ICRPG.players"}}</li>
    {{/if}}
    {{#each playerTurns as |turn|}}
      {{>liTurn turn=turn trackDamage=../trackDamage user=../user}}
    {{/each}}

    {{#if gmTurns.length}}
      <li class="icrpg-combat-divider">{{localize "ICRPG.gamemaster"}}</li>
    {{/if}}
    {{#each gmTurns as |turn|}}
      {{>liTurn turn=turn trackDamage=../trackDamage user=../user hideHP=(not (or ../user.isGM ../showMonsterHP))}}
    {{/each}}

    {{#if (and hasCombat (or obstacles.length user.isGM))}}
      <li class="icrpg-combat-divider">{{localize "ICRPG.obstacles"}}
        {{#if user.isGM}}
          <a class="combat-control" data-tooltip="ICRPG.tooltips.addObstacle" data-control="addObstacle"
             style="position: absolute; right: 21px;">
            <i class="fas fa-plus"></i>
          </a>
        {{/if}}
      </li>
    {{/if}}

    {{#each obstacles as |turn|}}
      {{>liTurn turn=turn trackDamage=../trackDamage user=../user}}
    {{/each}}

    {{#if vehicles.length}}
      <li class="icrpg-combat-divider">{{localize "ICRPG.vehicles"}}</li>
    {{/if}}
    {{#each vehicles as |turn|}}
      <li class="combatant actor directory-item flexrow vehicle {{turn.css}}" data-combatant-id="{{turn.id}}">
        <img class="token-image" data-src="{{turn.img}}" alt="{{turn.name}}" />
        <div class="token-name flexcol">
          <h4>{{turn.name}}</h4>
          <div class="hearts-container" style="{{#if hideHP}}visibility: hidden{{/if}}">
            {{#times turn.health.hearts}}
              <div data-heart-index="{{@index}}">
                <img src="systems/icrpgme/assets/ui/heart-red.webp">
                <div class="bar-effect"></div>
              </div>
            {{/times}}
          </div>
        </div>

        {{#if turn.owner}}
          <div class="collapse-toggle">
            {{#if turn.collapsed}}
              <i class="fas fa-chevron-down"></i>
            {{else}}
              <i class="fas fa-chevron-up"></i>
            {{/if}}
          </div>
        {{/if}}

        {{#if ../user.isGM}}
          <div class="drag-handle">
            <i class="fas fa-bars"></i>
          </div>
        {{/if}}

        <div class="turn-chunks collapsable" {{#if turn.collapsed}}style="display: none"{{/if}}>
          {{#each turn.chunks as |chunk index|}}
            <div class="flexrow" data-chunk-index="{{index}}">
              <h4>{{chunk.name}}</h4>

              <div class="hearts-container chunk-heart-container" style="{{#if hideHP}}visibility: hidden{{/if}}">
                <div data-heart-index="0">
                  <img src="systems/icrpgme/assets/ui/heart-red.webp">
                  <div class="bar-effect"></div>
                </div>
              </div>

              {{#if turn.owner}}
                <div class="hp-field">
                  {{#if ../../trackDamage}}
                    <input type="text" data-target="damage" value="{{chunk.health.damage}}">
                  {{else}}
                    <input type="text" data-target="value" value="{{chunk.health.value}}">
                  {{/if}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </li>
    {{/each}}

    {{#if hardSuits.length}}
      <li class="icrpg-combat-divider">{{localize "ICRPG.hardSuit.hardSuits"}}</li>
    {{/if}}
    {{#each hardSuits as |turn|}}
      <li class="combatant actor directory-item flexrow hard-suit {{turn.css}}" data-combatant-id="{{turn.id}}">
        <img class="token-image" data-src="{{turn.img}}" alt="{{turn.name}}" />
        <div class="token-name flexcol">
          <h4>{{turn.name}}</h4>
          <div class="resource-bar-container" style="{{#if hideHP}}visibility: hidden;{{/if}} margin-top:4px"
               data-target="system.health">
            <div class="resource-bar" style="background: var(--c-red)"></div>
          </div>
        </div>

        {{#if turn.owner}}
          <div class="collapse-toggle">
            {{#if turn.collapsed}}
              <i class="fas fa-chevron-down"></i>
            {{else}}
              <i class="fas fa-chevron-up"></i>
            {{/if}}
          </div>
        {{/if}}

        {{#if @root.user.isGM}}
          <div class="drag-handle" style="margin-right: 40px">
            <i class="fas fa-bars"></i>
          </div>
        {{/if}}

        {{#if turn.owner}}
          <div class="resources collapsable" {{#if turn.collapsed}}style="display: none"{{/if}}>
            <div class="flexrow" data-target="system.power.value">
              <h4>{{localize "ICRPG.hardSuit.power"}}</h4>
              <div class="resource-bar-container">
                <div class="resource-bar"></div>
              </div>
              <div class="resource-field">
                <input type="number" value="{{turn.power}}" min="0" max="100">
              </div>
            </div>

            {{#each turn.parts as |part|}}
              <div class="flexrow" data-item-id="{{part.id}}">
                <h4>{{part.name}}</h4>
                <div class="icrpg-discrete-selector-container">
                  {{#times part.system.hits.max}}
                    {{>selector index=@index target="system.hits.value" value=part.system.hits.value}}
                  {{/times}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}

      </li>
    {{/each}}
  </ol>

  <nav id="combat-controls" class="directory-footer flexrow" data-tooltip-direction="UP">
    {{#if hasCombat}}
      {{#if user.isGM}}
        {{#if round}}
          <a class="combat-control" data-tooltip="COMBAT.RoundPrev" data-control="previousRound"><i
            class="fas fa-step-backward"></i></a>
          <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i
            class="fas fa-arrow-left"></i></a>
          <a class="combat-control center" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
          <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i
            class="fas fa-arrow-right"></i></a>
          <a class="combat-control" data-tooltip="COMBAT.RoundNext" data-control="nextRound"><i
            class="fas fa-step-forward"></i></a>
        {{else}}
          <a class="combat-control center" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
        {{/if}}
      {{else if control}}
        <a class="combat-control" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i
          class="fas fa-arrow-left"></i></a>
        <a class="combat-control center" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
        <a class="combat-control" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i
          class="fas fa-arrow-right"></i></a>
      {{/if}}
    {{/if}}
  </nav>
</section>

{{#*inline "selector"}}
  <div class="icrpg-discrete-selector" data-target='{{target}}' data-index="{{index}}" data-tooltip="{{inc index}}">
    {{#if (gt value index)}}
      <div class="selected"></div>
    {{else}}
      <div class="not-selected"></div>
    {{/if}}
  </div>
{{/inline}}
